<!doctype html>
<html ng-app="weatherApp">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
    <script src="script.js"></script>
</head>

<body>
    <div class="ui container" ng-controller="MainController">
        <div id="app-header">
            <h1 class="ui center aligned header">Weather App</h1>
        </div>
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui vertical fluid pointing menu">
                    <a class="item" ng-class="{active : selectedCity.name === 'Prague'}" ng-click="selectCity('Prague')"><i class="cz flag"></i>Prague</a>
                    <a class="item" ng-class="{active : selectedCity.name === 'Barcelona'}" ng-click="selectCity('Barcelona')"><i class="es flag"></i>Barcelona</a>
                    <a class="item" ng-class="{active : selectedCity.name === 'Amsterdam'}" ng-click="selectCity('Amsterdam')"><i class="nl flag"></i>Amsterdam</a>
                    <a class="item" ng-class="{active : selectedCity.name === 'London'}" ng-click="selectCity('London')"><i class="gb flag"></i>London</a>
                    <a class="item" ng-class="{active : selectedCity.name === 'Berlin'}" ng-click="selectCity('Berlin')"><i class="de flag"></i>Berlin</a>
                </div>
            </div>
            <div id="main-content" class="twelve wide stretched column">
                <div class="ui active inverted dimmer" ng-show="loading">
                    <div class="ui text loader">Loading</div>
                </div>
                <div class="ui segments">
                    <div class="ui segment">
                        <button class="ui compact right floated toggle button" ng-class="{active : temperatureUnit === 'c'}" ng-click="selectTemperatureUnit('c')">°C</button>
                        <button class="ui compact right floated toggle button" ng-class="{active : temperatureUnit === 'f'}" ng-click="selectTemperatureUnit('f')">°F</button>
                    </div>
                    <div ng-hide="loading">
                        <h2 class="ui center aligned header">
                            <img class="ui image" ng-src="http://openweathermap.org/img/w/{{selectedCity.weather[0].icon}}.png" alt="{{selectedCity.name}} weather is {{selectedCity.weather[0].description}}"
                                title="{{selectedCity.weather[0].description}}" />
                            <div class="content">
                                {{selectedCity.name}}
                                <div class="sub header">{{selectedCity.weather[0].description}}</div>
                            </div>
                        </h2>
                        <div class="centerd">
                            <div class="ui large horizontal divided list">
                                <div class="item">
                                    <i class="thermometer half icon"></i> {{selectedCity.main.temp}}
                                </div>
                                <div class="item">
                                    Wind Speed: {{selectedCity.wind.speed}} km/h
                                </div>
                            </div>
                        </div>
                        <table class="ui very basic collapsing celled table" id="forecast-data">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Temperature</th>
                                    <th>Wind Speed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="city in selectedCityForecasts | limitTo:8">
                                    <td>
                                        <h4 class="ui header">
                                            {{city.dt * 1000 | date:'shortTime'}}
                                        </h4>
                                    </td>
                                    <td>
                                        {{city.main.temp}}
                                    </td>
                                    <td>
                                        {{city.wind.speed}} km/h
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>