#app-header {
     margin: 4em 0 2em 0;
}

.centerd {
    text-align: center !important;
    margin: 0 auto !important;
}

#main-content {
    padding-left: 0;
    min-height: 485px;
}

#forecast-data {
    margin: 40px auto 0 auto;
}